<!doctype html>

{% load staticfiles %}

{% load static %}

<html>
	<head>
		<title>Chatbot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="{% static 'images/icon.png' %}">
		<!--[if lte IE 8]><script src="{% static 'assets/js/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>

<body class="is-loading">
		<script>
            function retyp(msg)
            {


                var y = $('#message1').val();
                $('#message1').val(y +  msg + "\n");
                $('#message').val(" ");

            }
        </script>

		<


	    <script type="text/javascript" src='{% static "js/chat.js" %}'></script>-->
		<script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
		     <script>
            function typ()
            {

                var x = "You:" + $('#message').val();

                 chat(x);


                getReply();


            }
        </script>

	</head>


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="{% static 'images/avatar.jpg' %}" alt="" /></span>
							<h1>Chatbot</h1>
							<p>Welcome!</p>
						</header>



                                        <div >

					 <textarea readonly name="message" id="message1" val = " " placeholder="Message" rows="8"></textarea>

										</div>

		                    <input type="text" name="name" id="message"
								   onkeydown = 'if (event.keyCode == 13)document.getElementById("go").click()'
								   placeholder="Say something..." />

					     <input type="button"  id="go" value="Send" onclick="typ()">

                         <input type="button" value="Clear chat" onclick="clearContent()">

						</form>


					</section>



			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="{% static 'assets/js/respond.min.js' %}"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
           <script type="text/javascript" src='{% static "js/reconnecting-websocket.js" %}'></script>



	</body>
</html>